@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap");

* {
    font-family: "JetBrains Mono", monospace;
    -webkit-user-drag: none;
    user-select: none;
}

body {
    background-color: #222;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #F6E8EA;
    border: 4px solid #312F2F;
    border-radius: 10px;
}
